

@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shipping</h2>


<div>
    <h4>CustomerShippingAddress</h4>
    <hr />
    
</div>

@Html.Partial("~/Views/Shared/_Partial_ShippingList.cshtml", ViewData["_shippingAddressList"])
@Html.Partial("_Partial_CreateShipping", ViewData["_currentShippingAddress"])
