@model yayks.Models.ShippingModel

@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shipping</h2>


<div>
    <h4>CustomerShippingAddress</h4>
    <hr />
    @Html.Partial("~/Views/Shared/_Partial_Shipping_Create.cshtml", Model.CurrentShippingAddress)
</div>

@Html.Partial("~/Views/Shared/_Partial_ShippingList.cshtml", Model.ShippingAddressList)

