<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://yayks.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>yayks.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>yayks</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$yayks</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:yayks-db-server.database.windows.net,1433;Initial Catalog=yayks-db;User ID=yayiekim@yayks-db-server.database.windows.net;Password=abasolutions@72410!" Name="Data Source=tcp:yayks-db-server.database.windows.net,1433;Initial Catalog=yayks-db;User Id=yayiekim@yayks-db-server.database.windows.net;Password=abasolutions@72410!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-yayks-20170226033717.mdf;Initial Catalog=aspnet-yayks-20170226033717;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-yayks-20170226033717.mdf;Initial Catalog=aspnet-yayks-20170226033717;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:yayks-db-server.database.windows.net,1433;Initial Catalog=yayks-db;User ID=yayiekim@yayks-db-server.database.windows.net;Password=abasolutions@72410!" Name="Data Source=tcp:yayks-db-server.database.windows.net,1433;Initial Catalog=yayks-db;User Id=yayiekim@yayks-db-server.database.windows.net;Password=abasolutions@72410!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-yayks-20170226033717.mdf;Initial Catalog=aspnet-yayks-20170226033717;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ShopData.csdl|res://*/ShopData.ssdl|res://*/ShopData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-yayks-20170226033717.mdf;initial catalog=aspnet-yayks-20170226033717;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yayks-db-server.database.windows.net,1433;Initial Catalog=yayks-db;User Id=yayiekim@yayks-db-server.database.windows.net;Password=abasolutions@72410!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ShopData.csdl|res://*/ShopData.ssdl|res://*/ShopData.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:yayks-db-server.database.windows.net,1433;initial catalog=yayks-db;user id=yayiekim@yayks-db-server.database.windows.net;password=abasolutions@72410!;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>